.backgroundJPG{
    max-width: 101%;
    max-height: 110%;
}

html{
    background-color: #D7C5B4;
}

.backgroundLoginRegister{
    background-color: #D7C5B4;
    position: relative;
}

.loginButton{
    top: 40%;
    left: 30%;
    position: absolute;
}

.registerButton{
    top: 40%;
    left: 50%;
    position:absolute;
}