.landingPage{
    background-color: #D7C5B4;
}

.body{
    background-color: #D7C5B4;
    min-height: 100vh;
}

.alert1{
    color : black;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding-top: 60px;
}
.alert2{
    color : black;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 10px;
}

.landingButton{
    font-size: 20px;
    margin: 30px;
    width: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    background-color: #D7C5B4 !important;
}

.landingButton:hover{
    background-color: #8a5853 !important;
}

.carousel{
    max-width: 850px;
    margin: 0 auto;
}

.carouselText{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #D7C5B4;
    font-size: 40px;
    margin-left: 25px;
    text-shadow: -1px 0  #282c34, 0 1px  #282c34, 1px 0  #282c34, 0 -1px  #282c34;
}

.carouselTextDescription{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #D7C5B4;
    font-size: px;
    margin-left: 25px;
    text-shadow: -1px 0  #282c34, 0 1px  #282c34, 1px 0  #282c34, 0 -1px  #282c34;
}