.landingPage{
    background-color: whitesmoke;
    min-width: 1100px;
    height: 80vh;
}

.alert1{
    color : black;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding-top: 60px;
}
.alert2{
    color : black;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 10px;
}

.landingButton1{
    padding: 20px;
    background-color: transparent;
    border-radius: 4%;
    border-style: solid;
    border-width: 1px;
    border-color: #A0d468;
    font-weight: 500;
    font-size: 20px;
    color: #8CC152;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 15px;
    min-width: 250px;
  }
  
.landingButton1:hover {
    background-color: #8CC152;
    border-width: 1px;
    color : white;
  }

.landingButton2{
    padding: 20px;
    background-color: transparent;
    border-radius: 4%;
    border-style: solid;
    border-width: 1px;
    border-color: #A0d468;
    font-weight: 500;
    font-size: 20px;
    color: #8CC152;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 15px;
    min-width: 250px;
}

.landingButton2:hover{
    background-color: #8CC152;
    border-width: 1px;
    color : white;
}

.landingButtons{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    align-items: center;
}


.carousel{
    width: 100%;
}

.carousel-inner{
    height: 50vh;
}

.item.active{
    height: 50vh!important;
} 

.item img{
    height:100%!important;
}

.carousel-caption{
    top: 20%;
    height: 2% !important;
}

.caption{
    position: absolute;
    border: 1px solid black;
    top: 0 !important;
    left: 0;
    color: black;
    text-align: left;
    padding: 20px;
}

.aboutUs{
    
    text-align: center;
    margin: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 300px;
    margin-right: 300px;
}

.aboutUsText{
    margin-top: 4%;
}

.carouselText{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 40px;
    margin-left: 25px;
    text-shadow: -1px 0  #282c34, 0 1px  #282c34, 1px 0  #282c34, 0 -1px  #282c34;
}

.carouselTextDescription{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: px;
    margin-left: 25px;
    text-shadow: -1px 0  #282c34, 0 1px  #282c34, 1px 0  #282c34, 0 -1px  #282c34;
}