.FormForgotPassword{
    background-color:whitesmoke;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    min-width: 500px;
}

.ForgotPassText{
    margin: 50px;
    font-size: 30px;
}

.FormForgot{
    align-items: center;
    min-width: 100px;
    margin: 50px;
}
.forgetButton {
    padding: 18px;
    background-color: transparent;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #A0d468;
    font-weight: 500;
    font-size: 20px;
    color: #8CC152;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 20px;
    min-width: 300px;
  }
  
  .forgetButton:hover {
    background-color: #8CC152;
    border-width: 1px;
    color : white;
  }

