.FormForgotPassword{
    background-color:#D7C5B4;
    margin-top: 20%;
}

.FormForgot{
    width:30%;
    margin-left: 35%;
    margin-right: 35%;
    align-items: center;
}
.forgetButton{
    margin: 10px;
    background-color: #8a5853;
    color: white !important;
    box-shadow: none !important;
    font-size: medium;
    font-family: 'Helvetica', serif;
    width: 200px !important;
    border-radius: 25px;
    text-align: center;
    margin-left: 55px;
    font-weight: bold;
    border-color: #6e2d16;
}


.forgetButton:hover{
    background-color: #6e2d16!important;
    border-color: #6e2d16 !important;
}

