.GoogleLogin{
    color: black!important;
    font-weight: bold !important;
    background-color: white !important;
    box-shadow: none !important;
    border: lightgray lightgray !important;
    font-size: medium;
    font-family:'Helvetica', serif;
    border-radius: 25px;
    height: 30;
    width: 230px !important;
    text-align: center;
    display: flex;
    margin-left: 110px;
}