.resetButton{
    background-color: black !important;
    border: black !important;
    box-shadow: none !important;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
}

.formReset{
    margin-top: 15%;
}