.parent {
    position: relative;
    display: flex;
}

.child {
    position: absolute;
    top: 23%;
    right: 3%;
}

.modal-dialog{
    align-items: center;
    justify-content: center;
    width: 600px;
    padding: 10px 10px;
    margin-top: 200px;
    margin-bottom: 200px;
    
}

.modal-header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: none;
    height: 100px;
}

.logIn .modal-title {
    align-self: center;
    margin-left: 140px;
    font-family: 'Helvetica', serif !important;
    font-weight: bold;
}

.logIn .modal-content {
    border-radius: 10px;
    border-color: black;
    font-size: large;
    font-family: 'Helvetica', serif !important;
    min-height: 500px !important;
}

Form {
    margin-left: 15%;
    margin-right: 15%;
}

.form-control {
    border-color: #8a5853 !important;
    height: 45px !important;
    font-size: medium;
    font-family: 'Helvetica', serif !important;
    border-radius: 15px;
}

.loginButton {
    background-color: #8a5853!important;
    box-shadow: none !important;
    font-size: medium;
    font-family: 'Helvetica', serif;
    width: 200px !important;
    text-align: center;
    margin-left: 55px;
    border-color: black !important;
    border-radius: 25px;
    font-weight: bold;
}

.loginButtonModal{
    background-color: #8a5853;
    color: white !important;
    box-shadow: none !important;
    font-size: medium;
    font-family: 'Helvetica', serif;
    width: 200px !important;
    border-radius: 25px;
    text-align: center;
    margin-left: 55px;
    font-weight: bold;
    border-color: #6e2d16;

}

.loginButtonModal:hover{
    background-color: #6e2d16!important;
    border-color: #6e2d16 !important;
}

a {
    color:black;
    font-family: 'Helvetica', serif;
    font-size: 16px;
    margin-left: 2px;
}

a:hover {
    color: black !important;
}

.input-feedback {
    font-size: 16px;
    color: red;
}

.error{
    border-color: red !important;
}