.parent {
    position: relative;
    display: flex;
}

.child {
    position: absolute;
    top: 23%;
    right: 3%;
}

.LoginInComponent {
    margin:20px;

}



.form-control {
    border-color: black !important;
    height: 45px !important;
    font-size: medium;
    font-family: 'Helvetica', serif !important;
    border-radius: 15px;
    box-shadow: none !important;
}

.UserAUTHLINK{
    margin:5px;
    padding-top: 10px;
}


.loginButtonModal{
    background-color: black;
    color: white !important;
    box-shadow: none !important;
    font-size: medium;
    font-family: 'Helvetica', serif;
    width: 200px !important;
    border-radius: 25px;
    text-align: center;
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 8px;
    margin-bottom: 14px;
    font-weight: bold;
    border-color: black;

}

.loginButtonModal:hover{
    background-color: black !important;
    border-color: black !important;
}

a {
    color:black;
    font-family: 'Helvetica', serif;
    font-size: 16px;
    margin-left: 2px;
}

a:hover {
    color: black !important;
}

.input-feedback {
    font-size: 16px;
    color: red;
}

.error{
    border-color: red !important;
}

Google{
    margin-left: 2%;
}