.RegisterComponent{
    margin: 20px;
}

.parent1, .parent2 {
    position: relative;
    display: flex;
}

.child1, .child2 {
    position: absolute;
    top: 20%;
    right: 3%;
}

Form {
    margin-left: 15%;
    margin-right: 15%;
}

.form-control {
    border-color: grey;
    height: 45px !important;
    font-size: medium;
    font-family: 'Helvetica', serif !important;
    border-radius: 15px;
}

.registerButtonModal{
    background-color: black !important;
    color: white !important;
    box-shadow: none !important;
    font-size: medium;
    font-weight: bold;
    font-family: 'Helvetica', serif;
    border-radius: 25px;
    width: 200px !important;
    margin-bottom: 15px;
    text-align: center;
    margin-left: 16%;
    margin-right: 16%;
    font-weight: bold;
    border-color: black;
}

.registerButtonModal:hover{
    background-color: black !important;
    border-color: black !important;
}

.input-feedback {
    font-size: 16px;
    color: red;
}

.error{
    border-color: red !important;
}


