.parent1, .parent2 {
    position: relative;
    display: flex;
}

.child1, .child2 {
    position: absolute;
    top: 20%;
    right: 3%;
}

.modal-dialog{
    align-items: center;
    justify-content: center;
    width: 600px;
    padding: 10px 10px;
    margin-top: 60px !important;
    margin-bottom: 200px;
}

.modal-header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: none;
    height: 100px;
    
}

.signUp .modal-title {
    align-self: center;
    margin-left: 90px;
    font-family: 'Helvetica', serif !important;
    font-weight: bold;
}

.signUp .modal-content {
    border-radius: 10px;
    border-color: black;
    font-size: large;
    font-family: 'Helvetica', serif !important;
    min-height: 600px;
}

Form {
    margin-left: 15%;
    margin-right: 15%;
}

.form-control {
    border-color: grey;
    height: 45px !important;
    font-size: medium;
    font-family: 'Helvetica', serif !important;
    border-radius: 15px;
}

.registerButton {
    background-color: #8a5853!important;
    border-color: black !important;
    box-shadow: none !important;
    font-size: medium;
    font-weight: bold;
    font-family: 'Helvetica', serif;
    border-radius: 25px;
    width: 200px !important;
    text-align: center;
    margin-left: 55px;
}


.registerButtonModal{
    background-color: #8a5853;
    color: white !important;
    box-shadow: none !important;
    font-size: medium;
    font-weight: bold;
    font-family: 'Helvetica', serif;
    border-radius: 25px;
    width: 200px !important;
    text-align: center;
    margin-left: 55px;
    font-weight: bold;
    border-color: #6e2d16;
}

.registerButtonModal:hover{
    background-color: #6e2d16!important;
    border-color: #6e2d16 !important;
}

.input-feedback {
    font-size: 16px;
    color: red;
}

.error{
    border-color: red !important;
}


