.parent {
    position: relative;
    display: flex;
}

.child {
    position: absolute;
    top: 23%;
    right: 3%;
}

Form {
    margin-left: 15%;
    margin-right: 15%;
}



.form-control {
    border-color: black !important;
    height: 45px !important;
    font-size: medium;
    font-family: 'Helvetica', serif !important;
    border-radius: 15px;
    box-shadow: none !important;
}



.loginButtonModal{
    background-color: black;
    color: white !important;
    box-shadow: none !important;
    font-size: medium;
    font-family: 'Helvetica', serif;
    width: 200px !important;
    border-radius: 25px;
    text-align: center;
    margin-left: 55px;
    font-weight: bold;
    border-color: black;

}

.loginButtonModal:hover{
    background-color: black !important;
    border-color: black !important;
}

a {
    color:black;
    font-family: 'Helvetica', serif;
    font-size: 16px;
    margin-left: 2px;
}

a:hover {
    color: black !important;
}

.input-feedback {
    font-size: 16px;
    color: red;
}

.error{
    border-color: red !important;
}