.ContactUs{
    box-sizing: border-box;
    background-color: whitesmoke;
    min-width: 1000px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.contactUsText{
    margin : 80px;
    color : #9bda8e;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    padding: none;
}
/*CSS FROM : https://github.com/shanjairaj7/React-contact-form/blob/master/src/app.css */

.contact-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
  }
  
  .contact-form > h1 {
    margin-bottom: 30px;
  }
  
  .contact-form > input,
  textarea {
    padding: 20px;
    border-radius: 3px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
    margin-bottom: 20px;
    border: 1px solid lightgray;
    /* border: none; */
    background: #fff;
    font-size: 16px;
    color: rgb(0, 0, 32);
    outline: none;
    min-width: 600px;
  }
  
  .contact-form > input:focus,
  textarea:focus {
    border: 1px solid #9bda8e;
  }
  
  .contact-form > textarea {
    height: 150px;
  }
  
  .contact-form > label {
    padding-bottom: 10px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
  }


  .contact-form > input {
    padding: 20px;
    background-color: transparent;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #9bda8e;
    font-weight: 500;
    font-size: 20px;
    color: #9bda8e;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 15px;
    min-width: 200px;
  }
  
  .contact-form > input:hover {
    background-color: #9bda8e;
    border-width: 1px;
    color : white;

  }