.card {
    background-color: #BBA78C;
    position: fixed;
    width:50%;
    top: 50%;
    left: 50%;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 30px;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
    min-width: 200px;
}

table {
    width: 100%;
}

.serviceText {
    color: white;
}

.seperator {
    background-color: white;
}

.submitButton {
    width: 100%;
      background-color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
    
    .submitButton:hover {
        background-color: lightgray;
        color: white;
        cursor: hand;
    }