
.goalFormContainer {
    padding: 5%;
    background-color: white;
    max-height: 100%;
    top: 50%;
    left: 50%;
    overflow: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    margin: 20px;

}

.goalFormContainer2{
    margin: 5px;
    background-color: white;
    max-height: 100%;
    overflow: auto;
    border-radius: 4px;
    outline: none;

}

.goalLabel {
    color: black;
}

.goalActionButton {
    border-radius: 10px;
    width: 100px;
    margin: 20px;
}
.goalActionButton2 {
    border-radius: 10px;
    width: 200px;
    padding: 12px;
    margin: 11px;
}


.editGoalsButton2 {
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #9bda8e;
    font-weight: 500;
    font-size: 17px;
    color: #9bda8e;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 15px;
    min-width: 150px;
  }
  
  .editGoalsButton2:hover {
    background-color: #9bda8e;
    border-width: 1px;
    color : white;
  }

