
.goalFormContainer {
    padding: 5%;
    background-color: white;
    max-height: 100%;
    top: 50%;
    left: 50%;
    overflow: auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    margin: 20px;

}

.goalFormContainer2{
    margin: 5px;
    background-color: white;
    max-height: 100%;
    overflow: auto;
    border-radius: 4px;
    outline: none;

}


.goalLabel {
    color: black;
}

.goalActionButton {
    border-radius: 10px;
    width: 100px;
    margin: 20px;
}
.goalActionButton2 {
    border-radius: 10px;
    width: 200px;
    margin: 18px;
}

