.goalEditButton{
    width: 400px;
    margin: 10px
}


.editGoalsDiv{
    background-color: whitesmoke;
    height: 100%;
    min-height: 100vh;
}

.EditGoalsText{
        margin-top : 60px;
        color : rgb(70, 70, 70);
        font-family: Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
        padding: none;
}

.editGoalsButton {
    padding: 15px;
    background-color: transparent;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #9bda8e;
    font-weight: 500;
    font-size: 17px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 15px;
    min-width: 100px;
  }
  
  .editGoalsButton:hover {
    background-color: #9bda8e;
    border-width: 1px;
    color : white;
  }
