.goalsContainer {
    justify-content: center;
    text-align: center;
    min-width: 100px;
    display: flex;
}

.goalsEditLink {
    text-align: right;
    padding-right: 10px;
    text-decoration: underline;
    cursor: pointer;
    color: #8300FF;
    font-size: small;
}

.goalsPageText {
    margin : 20px;
    color :   rgb(9, 30, 41);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: none;
}

.goalsPageText2 {
    font-size: medium;
    color :  rgb(9, 30, 41);
    padding: none;
}

.goalsButton {
    margin : 5px;
    padding : 1%;
    width: 300px;
    max-width: 200px;
}

.center {
    text-align: center; 
  }

.addGoalModal{
    border-radius: 2%;
    background-color: white;
    position:absolute;
    top:50%;
    left:50%;
    min-width: 500px;
    min-height: 550px;
    width:500px;  /* adjust as per your needs */
    height:550px;   /* adjust as per your needs */
    margin-left:-250px;   /* negative half of width above */
    margin-top:-275px;   /* negative half of height above */
}