.goalText {
    text-align: center;
    justify-content: center;
    color: whitesmoke;
    padding: 1%;
}

.goal {
    background-color: #8300FF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    min-width: 100px;
    max-width: 80%;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
}

