.goalsContainer {
    justify-content: center;
    text-align: center;
    min-width: 100px;
    display: flex;
}

.goalsEditLink {
    text-align: right;
    padding-right: 10px;
    text-decoration: underline;
    cursor: pointer;
    font-size: small;
}

.goalsPageText {
    margin : 20px;
    color :   rgb(94, 93, 93);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: none;
}

.goalsPageText2 {
    font-size: medium;
    color :  rgb(94, 93, 93);
    padding: none;
}

.goalsButton {
    margin : 5px;
    padding : 1%;
    width: 300px;
    max-width: 200px;
}

.center {
    text-align: center; 
  }

.addGoalModal{
    background-color: white;
    position:absolute;
    top:50%;
    left:50%;
    min-width: 500px;
    min-height: 500px;
    width:500px;  /* adjust as per your needs */
    height:500px;   /* adjust as per your needs */
    margin-left:-250px;   /* negative half of width above */
    margin-top:-275px;   /* negative half of height above */
}

.goalsButton {
    padding: 20px;
    background-color: transparent;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #A0d468;
    font-weight: 500;
    font-size: 20px;
    color: #8CC152;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 15px;
    min-width: 100px;
  }
  
  .goalsButton:hover {
    background-color: #8CC152;
    border-width: 1px;
    color : white;
  }

  .closeButton{
    max-width: 40px;
    min-width: 40px;
    background-color: white;
    color: grey;
    border-color: transparent;
    font-size: 40px;
    float: right;
  }

  .closeDiv{
      min-height: 41px;
      margin: 5px;
      margin-right: 10px;
  }

  .closeBtn {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .closeBtn:hover {
    opacity: 1;
    background-color: white;
  }
  .closeBtn:before, .closeBtn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .closeBtn:before {
    transform: rotate(45deg);
  }
  .closeBtn:after {
    transform: rotate(-45deg);
  }