.goalsContainer {
    justify-content: center;
    text-align: center;
    min-width: 100px;
    display: flex;
}

.goalsEditLink {
    text-align: right;
    padding-right: 10px;
    text-decoration: underline;
    cursor: pointer;
    font-size: small;
}

.goalsPageText {
    margin : 20px;
    color :black;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: none;
}

.goalsPageText2 {
    font-size: medium;
    color : black;
    padding: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.goalsPageText3{
    margin-top: 4px;
    margin-bottom: 30px;
    margin-left: 50px;
    color:   rgb(94, 93, 93);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: none;
}



.center {
    text-align: center; 
    min-width: 500px;
  }

.addGoalModal{
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: #9bda8e;
    position:absolute;
    top:55%;
    left:50%;
    min-width: 500px;
    min-height: 500px;
    width:500px;  /* adjust as per your needs */
    height:500px;   /* adjust as per your needs */
    margin-left:-250px;   /* negative half of width above */
    margin-top:-250px;   /* negative half of height above */
}


.goalsButton {
    padding: 10px;
    background-color: #9bda8e;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-weight: 500;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 15px;
    min-width: 100px;
    box-shadow: none !important;
  }
  
  .goalsButton:hover {
    border-color: black !important;
    background-color: black;
    border-width: 1px;
    color : white;
  }

  .goalsButton:focus{
    background-color: black !important;
    border-width: 1px;
    color : white; 
  }

  .closeButtonGoal{
    max-width: 40px;
    min-width: 40px;
    background-color: white;
    color: grey;
    border-color: transparent;
    font-size: 40px;
    float: right;
  }

  .closeDiv{
      min-height: 41px;
      margin-top: 0px;
      margin-right: 10px;
  }
