.homepage{
    background-color: whitesmoke;
    min-width: 1100px;
    height: 100%;
    min-height: 100vh;

    
}

.homePagesection {
    border-radius: 10px;
    padding: 1%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-family: arial;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 1%;
}

.GoalsImage{
    width: 850px;
    border-radius: 5%;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    margin: 10px;
}

.homePageSep{
    max-width: 1100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.homePageAlert{
    color: rgb(94, 93, 93);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin-top: 30px;

}