.homePageServiceText {
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(94, 93, 93);
    padding: 1%;
}

.serviceContainer{
    min-height: 100px;
}

.homePageService {
    background-color: transparent  ;
    min-width: 300px;
    max-width: 300px;
    border-radius: 10px;
    border-style: solid;
    border-color: #8CC152; 
    border-width: 1px;
    padding: 1%;
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    align-items: center;
}


.goalsServiceButton {
    padding: 10px;
    background-color: #9bda8e!important;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-weight: 500;
    font-size: 17px;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 15px;
    min-width: 100px;
  }
  
  .goalsServiceButton:hover {
    background-color: black!important;
    border-width: 1px;
    color : white;
  }