.homePageProfileInfo {
    text-align: center;
    margin: none;
}

.homePageClientName {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:  rgb(94, 93, 93);
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 20px;
}