.homePageProfileInfo {
    text-align: center;
    margin: none;
}

.homePageClientName {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:  rgb(94, 93, 93);
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 20px;
}