.homePageProfileInfo {
    text-align: center;
    margin: none;
}

.homePageClientName {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:  rgb(9, 30, 41);
    padding: 50px;
}