.card:not(:last-child) {
    margin-right: 10%;
}
.card {
    width: 200px;
    height: 200px;
    margin-top: 15% !important;
    margin-left: 10% !important;
    margin-bottom: 10% !important;
    text-align: center;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight:bold;
    max-width: 100%;
    border: 2px solid #9cbe95;
    overflow: hidden;
}
.container {
    overflow: hidden;
}

.bucketText{
    margin-top: 5%;
}

.removePost{
    background-color: black;
    height: 40px;
    border-color: #9cbe95;
    color: white;
    width: fit-content;
}

.removePost:hover{
    background-color: #9bda8e;
    border-color:#9cbe95;
    box-shadow: none;
    color: black;
    width: fit-content;
}

.removePost:active{
    background-color: #9bda8e !important;
    box-shadow: none !important;
    border-color:#9cbe95 !important;
    color: black !important;
    width: fit-content;
}

.removePost:focus{
    background-color: #9bda8e !important;
    box-shadow: none !important;
    border-color:#9cbe95 !important;
    color: black !important;
    width: fit-content;
}

