.bucketCard {
    height: 130px;
    width: 150px ;
    margin-bottom: 10%;
    text-align: center;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif !important;
    max-width: 100%;
    border: 2px solid #9cbe95;
    border-radius: 15px !important;
}

.bucketButton{
    border:none;
    background-color: white;
    color: black;
    font-weight: bold;
}

.bucketButton:focus{
    background-color:#9bda8e !important;
    color:black;
}

.bucketButton:hover{
    background-color:#cbf0c4 !important;
    color: black;
}

.bucketCheckbox:hover{
    background-color:#cbf0c4 !important;
    color: black;
}