.bucketModal{
    background-color: transparent;
    position:absolute;
    top:50%;
    left:50%;
    min-width: 700px;
    min-height: 400px;
    width:500px;  /* adjust as per your needs */
    height:600px;   /* adjust as per your needs */
    margin-left:-400px;   /* negative half of width above */
    margin-top:-250px;   /* negative half of height above */
}

.bucketModal .modal-body {
    overflow: scroll !important;
    max-height: 400px;
    min-width: 400px;
}
.bucketModal .modal-title{
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.bucketModal .modal-footer {
    height: 70px !important;
    background-color: whitesmoke;
}

.bucketModal .modal-header {
    background-color: whitesmoke;
    width: 600px;
}

.bucketModal .modal-content {
    overflow: hidden;
    width: 600px;
}

.createButton, .bucketSave{
    background-color: white;
    height: 40px;
    border-color: #9cbe95;
    color: black;
    width: fit-content;
}

.createButton:hover, .bucketSave:hover{
    background-color: #9bda8e;
    border-color:#9cbe95 !important;
    box-shadow: none;
    color: black;
    width: fit-content;
}

.createButton:active, .bucketSave:active{
    background-color: #9bda8e !important;
    box-shadow: none !important;
    border-color:#9bda8e !important;
    color: black !important;
    width: fit-content;
    align-self: center;
}

.createButton:focus, .bucketSave:focus{
    background-color: #9bda8e !important;
    box-shadow: none !important;
    border-color:#9bda8e !important;
    color: black !important;
    width: fit-content;
}

.createForm{
    align-items: center;
    justify-content: center;
    
}

.centerBundleButton{
    text-align: center;

}

.newBucket{
    background-color: transparent;
    position:absolute;
    top:50%;
    left:50%;
    min-width: 700px;
    min-height: 400px;
    width:500px;  /* adjust as per your needs */
    height:600px;   /* adjust as per your needs */
    margin-left:-400px;   /* negative half of width above */
    margin-top:-250px;   /* negative half of height above */

}

.newBucket .modal-body{
    height: 428px;
    width: 600px;
    background-color: whitesmoke;
}
.newBucket .modal-content{ 
    min-width: 0px !important;
    width: 605px;
}

.newBucket .modal-header{
    background-color: whitesmoke;
}

.newBucket .modal-title{
    font-family: Georgia, Times, 'Times New Roman', serif;
}


.bucketTitle{
    border: 1px solid lightgrey !important;
}

.bucketTitle:focus{
    border: 1px solid #9bda8e !important;
}

.editBucket{
    margin-top: 13%;
}

.editBucket .modal-body{
    height: 370px;
    background-color: whitesmoke;
}
.editBucket .modal-content{
    width: 600px !important;
}

.editBucket .modal-header{
    background-color: whitesmoke;
}

.editBucket .modal-title{
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.editText {
    min-width: 100%;
    border: 1px solid lightgray;
}

.editText:focus {
    border: 1px solid #9bda8e;
}