.bucketCard {
    height: 140px;
    width: 140px ;
    margin: 10px;
    margin-bottom: 13px;
    font-family: Arial, Helvetica, sans-serif !important;
    max-width: 100%;
    border: 2px solid #9cbe95;
    border-radius: 15px !important;
}

.bucketButton{
    border:none;
    background-color: white;
    color: black;
    font-weight: bold;
}

.bucketGrid{
    margin-left: 3%;
    min-width: 500px;
    max-width: 400px;
}

.bucketButton:focus{
    background-color:#9bda8e !important;
    color:black;
}

.bucketButton:hover{
    background-color:#cbf0c4 !important;
    color: black;
}

.bucketCheckbox:hover{
    background-color:#cbf0c4 !important;
    color: black;
}