@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.quizz {
}

.bgImage {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.basic-wrap {
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.74);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2% 2%;

  display: inline-block;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

#firstElement,
#secondElement {
  float: left;
  display: inline-block;
  background-color: red;
  padding-right: 0.5rem;
}

.quizz .carousel{
  min-width: 1300px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}

.quizz .carousel.item{
}

.quizz .carousel-inner{
  height: 100vh;
}

.quizz .carousel-indicators li { visibility: hidden; }

.fixedimg {
}

/* BUTTONS */

.quizBtn button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #1b1d1b; 
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid #9cbe95;
  cursor: pointer;
  margin-bottom: 8px;
}

.dobPicker button {
}

#backward-btn {
  float: left;
  display: inline-block;
  max-width: 3rem;
  margin-top: 0.4rem;
}
#forward-btn {
  float: right;
  display: inline-block;
  max-width: 3rem;
  margin-top: 0.4rem;
}
#finish-btn {
  float: right;
  display: inline-block;
  max-width: 6rem;
  margin-top: 0.4rem;
}

.quizz button:disabled {
  pointer-events: none;
  opacity: 0.7;
  visibility: hidden;
}

.blackButton {
  background-color: black;
  color: white;
}

.whiteButton {
  background-color: white;
  color: black;
}

.quizz .toggleButton {
  color: #8cbe82;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.quizz button:hover {
  background-color: #555e7d;
}

.quizz button:focus {
  outline: none;
}

.quizz button svg {
  margin-right: 5px;
}

/* INPUT */

.inputBox {
  border-radius: 7.5px;
  font-size: 1rem;
  height: 2.4rem;
  color: #1b1d1b;
  width: 100%;
  position: relative;
  transition: 0.3s all;
  display: flex;
  padding: 5px;
  align-items: center;
  border: 3px solid #9cbe95;
  margin-top: 0.4rem;
}

.inputBox:disabled {
  pointer-events: none;
  opacity: 0.7;
  visibility: hidden;
}

.input-alert {
  padding-top: 1rem;
  color: white;
}

.disabled {
  pointer-events: none;
  visibility: hidden;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION*/
.question-section {
  text-align: left;
  float: left;
  display: inline-block;
  width: 100%;
  color: white;
  margin-bottom: 0.4rem;
  margin-left: 0.2rem;
}

.question-count {
  font-size: 30px;
}

/* ANSWERS */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}