td.videoContainer{
    height: 100% !important;
    display: flex;
    margin-left: 15% !important;

}

tr.tableRow{
    align-items: center;
    border-radius: 15px;
    padding: 25px 30px;
    display: flex;
    margin-bottom: 25px;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(155, 218, 142, 1);
    height: 300px;

}

.actionButtonEdit{
    width: 100px;
    margin-bottom: 30px;
    background-color: #9bda8e!important;
    border-color: #9cbe95 !important;
    box-shadow: none !important;
    color: black !important;
}

.actionButtonEdit:hover{
    background-color: black !important;
    color: white !important;
}

.serviceModalEdit{
    text-align: center;
    background-color: white;
    margin: 5%;
    padding: 1%;
    margin-left: 36% !important;
    margin-right: 36% !important;
    height: 47% !important;
    overflow: hidden !important;
    border-radius: 25px !important;
    border: 2px solid #9cbe95;
}
