.formContainer {
    margin-left: auto;
    margin-right: auto;
}

.inputItem {
    border-radius: 10px;
    background-color: white;
    color: Black;
}

.label {
    color: black;
}

.title {
    padding: 1%;
    color: Black;
}

.actionButton {
    margin: 1%;
    border: none;
}

.actionButton:hover {
    margin-top: 1%;
}


table {
    width: 100%;
}

.subText {
    opacity: 70%;
    font-size: small;
}

.columnContainer {
    display: flex;
}

.column {
    width: 50%;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: arial;
    background-color:white;
    margin-bottom: 1%;
    margin: 1%
}

.actionButton {
    color: black;
    background-color: #D7C5B4 !important;
    border-radius: 10px;
}

.actionButton:hover{
    background-color: #8a5853 !important;
}