.sectionContainer {
    padding: 1%;
    width: 100%;
}

.section {
    width: 88%;
    margin-left: 6%;
    margin-bottom: 1%;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0px 0px 9px 0px rgba(155, 218, 142, 1);
    border: 2px solid #9cbe95;
    margin: auto;
    text-align: center;
    font-family: arial;
    justify-content: center;
    background-color:white;
    height: fit-content;
}

.editLink {
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
    color: black;
    font-size: medium;
}
.profileInfoDivT{
    max-width: 600px;
}

.textContainer {
    color:black !important;
    border-radius: 10px;
    padding: 1%;
    border: 2px solid #9cbe95;
    font-size: medium;
    box-shadow: none !important;
}

.seperator {
    color: black !important;
    margin-left: 10%;
    margin-right: 10%;
}

.profileImage {
    margin-top: -20px;
    display: flex;
    justify-content: center;
}
.profileImage img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 1%;
}

.service {
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

.text {
    color: white;
}

.serviceColumn {
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
    border-radius: 12px;
    min-width: min-content;
}

.purchaseButton {
    background-color: black;
    color: white;
    border: none;
    box-shadow: none !important;
    border-color: #9cbe95;
}

.purchaseButton:hover {
    background-color: rgb(27, 29, 27)!important;
    color: white !important;
    
}

.purchaseButton:focus {
    background-color: white!important;
    color: black !important;
    
}

.minorText {
    font-size: small;
}

.helpText {
    text-align: left;
    font: small;
    margin: 1%;
    
}

.profileInfo{
    margin-top: 20px;
    margin-left: 8.5%;
    margin-right: 8.5%;
}

.personalInfo{
    background-color: white;
    margin-left: 11.75%;
    margin-right: 10%;
    margin-top: 4%;
    border-radius: 25px !important;
    border: 2px solid #9cbe95;
    box-shadow: 0px 0px 9px 0px rgba(155, 218, 142, 1) !important;
    height: 200px;
    margin-bottom: 1%;
}

.goals{
    background-color: white;
    height: 200px;
    overflow-y: scroll;
    margin-top: 4%;
    margin-right: 10%;
    border-radius: 25px !important;
    border: 2px solid #9cbe95;
    box-shadow: 0px 0px 9px 0px rgba(155, 218, 142, 1) !important;
    margin-bottom: 1%;
}

.serviceContainerProfile{
    min-width: 300px;
    max-width: 300px;
    border-radius: 20px;
    padding: 1%;
    margin: 1%;
    border: 2px solid black;    
    display: inline-block;
    align-items: center;
    height: 200px;
    background-color: #cbf0c4;

}


.serviceColumnProfile{
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 2%;
}

