.sectionContainer {
    padding: 1%;
    width: 100%;
}

.section {
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    min-width: 100%;
    margin: auto;
    text-align: center;
    font-family: arial;
    justify-content: center;
    background-color:white;
    margin-bottom: 1%;
}

.editLink {
    text-align: right;
    padding-right: 10px;
    text-decoration: underline;
    cursor: pointer;
    color: black;
    font-size: small;
}

.textContainer {
    color: black !important;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: medium;
}

.seperator {
    color: black !important;
    margin-left: 10%;
    margin-right: 10%;
}

.profileImage {
    display: flex;
    justify-content: center;
}
.profileImage img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 1%;
}

.service {
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

.text {
    color: white;
}

.serviceColumn {
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
    border-radius: 12px;
    min-width: min-content;
}

.purchaseButton {
    background-color: white;
    color: black;
    border: none;

}

.purchaseButton:hover {
    background-color: lightgray;
    
}

.minorText {
    font-size: small;
}

.helpText {
    text-align: left;
    font: small;
    margin: 1%;
    
}

.profileInfo{
    margin-top: 20px;
    margin-left: 8.5%;
    margin-right: 8.5%;
}

.personalInfo{
    margin-left: 11.75%;
    margin-right: 10%;
    margin-top: 4%;
    border-radius: 25px !important;
    box-shadow: 0px 0px 9px 0px rgba(220, 143, 102, 1 ) !important;
    height: 200px;
    margin-bottom: 1%;
}

.goals{
    height: 200px;
    overflow-y: scroll;
    margin-top: 4%;
    margin-right: 10%;
    border-radius: 25px !important;
    box-shadow: 0px 0px 9px 0px rgba(220, 143, 102, 1 ) !important;
    margin-bottom: 1%;
}

.serviceContainerProfile{
    min-width: 300px;
    max-width: 300px;
    border-radius: 20px;
    padding: 1%;
    margin: 1%;
    box-shadow: 0px 0px 9px 0px rgba(220, 143, 102, 1 );
    display: inline-block;
    align-items: center;
    height: 200px;
}

.purchaseButton{
    background-color: #7ec0a9 !important;
    box-shadow: none !important;
}

.serviceColumnProfile{
    margin-right: 10%;
    margin-left: 10%;
}