.postModal {
    overflow: scroll;
    background-color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #Dc8f66 !important;
}

.closeButton {
    text-align: right;
    cursor: pointer;
}

.postDisplay {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.postContent{  
    display: flex;
    justify-content: center;
}


