.parent1, .parent2 {
    position: relative;
    display: flex;
}

.child1, .child2 {
    position: absolute;
    top: 20%;
    right: 3%;
}

.modal{
    top: 8%;
    width: 400px;
    margin-left: 37%;
}

.modal-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#c7decb;
    border-bottom: none;
}

.modal-title {
    text-align: center;
    margin-left: 14%;
    font-family: 'Playfair Display', serif !important;
    font-weight: bold;
}

.modal-content {
    border-radius: 20px;
    border-color: black;
    font-family: 'Playfair Display', serif !important;
    font-size: large;
}

Form {
    margin-left: 15%;
    margin-right: 15%;
   
}

.form-control {
    border-color: #789380;
}

.form-control:focus {
    border-color: #789380;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(184, 216, 178, 1.0);
}

.registerButton {
    background-color: #c7decb !important;
    color: black !important;
    border-color: #789380 !important;
    box-shadow: none !important;
    font-size: large;
    margin-left: 30%;
}

.input-feedback {
    font-size: 16px;
}


