
.FacebookLogin {
    color: white !important;
    font-weight: bold;
    background-color: #4267B2;
    border: none;
    box-shadow: none !important;
    font-size: medium;
    font-family:'Helvetica', serif;
    border-radius: 25px;
    height: 42.5px;
    width: 250px !important;
    text-align: center;
}