.sectionContainer {
    padding: 1%;
    background-color: #BCA88E;
}

.section {
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-family: arial;
    justify-content: center;
    background-color: #E3E8E9;
    margin-bottom: 1%;
}

.pageText {
    color: #9DA993;
}


