.profileImage {
    display: flex;
    justify-content: center;
}
.profileImage img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 1%;
}

.profileInfo {
    text-align: center;
    margin: none;
}

.subtext {
    color: #EFEAE4;
}

.socialIcon {
    padding: 2%;
    width: 200%;
    height: 200%;
    cursor: pointer;
  }

.clientName {
    color:#BBA78C;
}

.textContainer {
    background-color: #BBA78C;
    border-radius: 10px;
    padding: 1%;
    color: #EFEAE4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.outerContainer {
    justify-content: center;
    text-align: center;
    display:inline;
}