@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

.navbar-top {
  z-index: 999;
  position: sticky;
  top: 0;
  color: white;
  background-color:black;
}

.landing {
  z-index: 999;
  font-size: 1.2rem;
  font-family: "Paytone One", sans-serif;
  /* border-radius: 8px; */
  /* color: white; */
  /* background-color: rgb(4, 10, 14); */
}

.logo {
  z-index: 999;
  font-family: "Paytone One", sans-serif;
}

.modalNavbar{
    margin-top: 50px;
}

.modalNavbar .modal-content{
  border-radius: 10px;
}

.closeModal {
  position: absolute;
  left: 400px;
  width: 50px;
  float: right;
}

.modalHeader {
  background-color: white;
  /* align-items: flex-start;
  justify-content: flex-start; */
}

.modalHeaderText {
  position: absolute;
  left: 145px;
  font-weight: bold;
  font-size: 1.8rem;
  margin-left : 12px;
}

.modalFooter {
  max-height: 50px;
}
