.reportCont{
    text-align: center;
    align-items: center;
    justify-content: center;
}



.reportFormBtn{
    background-color: #9bda8e;
    height: 40px;
    border-color: #9cbe95;
    color: black;
    width: fit-content;
}

.reportFormBtn:hover{
    background-color: white;
    border-color:#9cbe95 !important;
    box-shadow: none;
    color: black;
    width: fit-content;
}

.reportFormBtn:active{
    background-color: white !important;
    box-shadow: none !important;
    border-color:#9bda8e !important;
    color: black !important;
    width: fit-content;
    align-self: center;
}

.reportFormBtn:focus{
    background-color: white !important;
    box-shadow: none !important;
    border-color:#9bda8e !important;
    color: black !important;
    width: fit-content;
}


.reportForm1{
    z-index: 1000;
}